extends ../layout
block content
    .container.top-margin-from-navigation
        .row.mt-5
            .col-sm-10
                h5 Edit Product
            .col-sm-2.text-right
                a(href="/admin") return to admin
        .row
            .col-sm-2
            .col-sm-8
                form(method="POST" action="/admin/products/edit/"+singleProduct._id id="editForm")
                    .form-row.mt-2
                        .col.form-group
                            label Product Serial:
                            input.form-control(name="serial" type="text" id="serial" value=singleProduct.serial)
                            #serialError.error
                        .col.form-group
                            label Product Name:
                            input.form-control(name="productname" type="text" id="productname" value=singleProduct.productname)
                    .form-row
                        .col.form-group
                            label Product Description
                            textarea.form-control(name="description", id="description" cols="30", rows="5")


                    .form-row
                        .col.form-group
                            label Color:
                            select.form-control(name="color" id="color")
                                option(value=singleProduct.color) #{singleProduct.color}
                                option(value="black") Black
                                option(value="white") White
                                option(value="black&white") Back and White
                                option(value="other") Other
                        .col.form-group
                            label Category:
                            select.form-control(name="category" id="category")
                                option(value=singleProduct.category) #{singleProduct.category}
                                option(value="compound") Compound
                                option(value="funiture") Funiture
                                option(value="livingroom") Living Room
                                option(value="bedroom") Bedroom
                                option(value="bathroom") Bathroom
                                option(value="electronics") Electronics
                                option(value="school") School
                        .col.form-group
                            label Make:
                            select.form-control(name="make" id="make")
                                option(value=singleProduct.make) #{singleProduct.make}
                                option(value="fr") Foreign

                    .form-row.mt-2
                        .col.form-group
                            label Cost:
                            input.form-control(name="productcost" type="text" value=singleProduct.productcost id="productcost")
                    .form-row
                        .col.form-group
                            button.btn.btn-primary.btn-block Edit Product